.Header{
    height: 70px;
    background-color: lightpink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header a{
    text-decoration: none;
    font-size: 25px;
    color: snow;
    background-color: lightpink;
}